@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    @font-face {
        font-family: 'Raleway';
        src: url('Raleway-Regular.woff2') format('woff2'),
            url('Raleway-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1920px;
    min-height: 1024px;
}

.header {
    background-image: url(/img/bg_header.jpg);
    background-repeat: no-repeat;       
    background-color: #282421;
    position: relative;
}

.header-menu {
    display: flex;
    
}

.header-menu__logo {
    display: flex;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 40px 234px 0 376px;
    align-items: center;
    padding: 0;
    height: 56px;
}

.header-menu__logo-img {
    fill: #ffffff;
}

.header-menu__logo:hover {
    color: #998675;
}

.header-menu__logo:active {
    color: #2a78a5;
}

.header-menu__logo-img:hover {
    fill: #998675;
}

.header-menu__logo-img:active {
    fill: #2a78a5;
}

.header-menu__links {
    display: flex;
    margin: 62px 0 304px 0;
}

.header-menu__links-item {
    list-style: none;
    margin: 0 30px 0 0;
}

.header-menu__links-item:nth-child(8) {
    margin: 0 63px 0 0;
}

.header-menu__links-item__link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.header-menu__links-item__link:hover {
    color: #c7b299;
}

.header-menu__links-item__link:active {
    color: #2a78a5;
}

.header-menu__cart {
    margin: 55px 28px 0 0;
}

.header-menu__cart-icon {
    fill: #ffffff;
}

.header-menu__cart-icon:hover {
    fill: #c7b299;
}

.header-menu__cart-icon:active {
    fill: #2a78a5;
}

.header-menu__search {
    margin: 55px 0 0 0;
}

.header-menu__search-icon {
    fill: #ffffff;
}

.header-menu__search-icon:hover {
    fill: #c7b299;
}

.header-menu__search-icon:active {
    fill: #2a78a5;
}

.header-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 666px;
    
}

.header-text {
    font-family: 'Raleway';
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.header-title {
    padding: 0;
    font-family: 'Raleway';
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
}

.header-title-text{
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    padding: 0 45px;
    margin: 0 0 52px 0;
}

.header-button {
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 16px 44px;
    background-color: #998675;
    margin: 0 201px 327px 201px;
    border-radius: 3px;
}

.header-left-arrow {
    display: block;

}

.header-left-arrow:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 485px;
    left: 1726px;
}


.header-left-arrow:hover:after {
    border-top: 2px solid orange;
    border-right: 2px solid orange;
}

.header-right-arrow {
    display: block;

}

.header-right-arrow:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(-135deg);
    position: absolute;
    top: 485px;
    left: 180px;
}


.header-right-arrow:hover:after {
    border-top: 2px solid orange;
    border-right: 2px solid orange;
}

.header-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type=radio] {
    margin: 0 10px 0 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.services {
    display: flex;
    width: 1920px;
    padding: 80px 376px 80px 378px;
}

.services-wrap {
    margin: 0 34px 0 0;
}

.services-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 270px;
    text-align: center;
}

.services-svg {
    fill: #555555;
    align-self: center;
    margin: 0 0 29px 0;

}

.services-link__name {
    font-family: 'Raleway';
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin: 0 0 19px 0;
}

.services-link__text {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 30px 0;
}

.services-link:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #f1eee9;
    align-self: center;
}

.services-link:hover .services-svg {
      fill: #deb887;
}

.services-link:hover .services-link__name {
    color: #deb887;
}

.services-link:hover:after {
    background-color: #deb887;
}

.ideas {
    width: 1920px;
    background-color: #fbfaf8;
    text-align: center;
    padding: 83px 0 0 0;
    position: relative;
}

.ideas-title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin: 0 0 24px 0;
}

.ideas-text {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 580px 40px 580px;
}

.ideas-wrap {
    display: flex;
}

.ideas-img__left {
    position: absolute;
    top: 320px;
    left: 343px;
    z-index: 0;
}

.ideas-img__center {
    margin: 0 auto;
    z-index: 1;
}

.ideas-img__right {
    z-index: 0;
    position: absolute;
    top: 320px;
    left: 806px;
}

.ideas-img__left:hover {
    z-index: 2;
}

.ideas-img__right:hover {
    z-index: 2;
}

.purchase {
    width: 1920px;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    padding: 48px 374px 49px 376px;
    box-sizing: border-box;
}

.purchase-wrap {
    margin: 0 470px 0 0;
}

.purchase-title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 8px 0;
}

.purchase-title__waxom {
    color: #c7b299;
}

.purchase-text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

.purchase-button {
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #998675;
    border-radius: 3px; 
    padding: 19px 29px 20px 28px;
}

.projects {
    width: 1920px;
    text-align: center;
    padding: 80px 374px 80px 346px;
    box-sizing: border-box;

}

.projects-title {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin: 0 0 24px 0;
}

.projects-text {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 40px 0;
}

.projects-wrap {
    margin: 0 0 40px 0;
}

.projects-button {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px 27px 9px 25px;
    margin: 0 10px 0 0;
}

.projects-button:nth-child(2) {
    padding: 10px 19px 9px 18px;
}

.projects-button:nth-child(3) {
    padding: 10px 21px 9px 21px;
}

.projects-button:nth-child(4) {
    padding: 10px 24px 9px 24px;
}

.projects-button:nth-child(5) {
    padding: 10px 23px 9px 24px;
}

.projects-button:hover {
    background-color: #998675;
    color: #ffffff;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list__item {
    list-style: none;
    width: 370px;
    margin: 0 30px 30px 0;
    background-color: #362f2d;
    padding: 0;
}

.projects-list__item-wrap {
    padding: 30px 0 27px 30px;
    text-align: left;
    position: relative;
    background-color: #fbfaf8;
}

.projects-list__item-wrap:before {
    content: "";
    display: block;
    border: 17px solid transparent;	
    border-bottom: 10px solid #fbfaf8;;
    position: absolute;
    top: -27px;
    left: 21px;
  }


.projects-list__item-title {
    font-family: Raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    margin: 0 0 14px 0;
}

.projects-list__item-text {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
}

.projects-list__item {
    position: relative;
    
}

.projects-list__item-link {
    position: absolute;
    top: 106px;
    left: 144px;
    z-index: 2;
    fill: #ffffff; 
    display: none;
}   

.projects-list__item-loop {
    position: absolute;
    top: 106px;
    left: 198px;
    z-index: 2;
    fill: #ffffff;
    display: none;
}

.projects-list__item:hover .projects-list__item-img {
    opacity: 0.6;

}

.projects-list__item:hover .projects-list__item-wrap {
    background-color: #362f2d;

}

.projects-list__item:hover .projects-list__item-title {
    content:"";
    color: #ffffff;
}

.projects-list__item-text {
    color: #c7b299;
}

.projects-list__item:hover .projects-list__item-wrap:before {
    content: "";
    display: block;
    border: 17px solid transparent;	
    border-bottom: 10px solid #362f2d;    position: absolute;
    top: -30px;
    left: 21px;
  }

.projects-list__item:hover .projects-list__item-link {
      display: block;
}

.projects-list__item-link:hover {
    fill: #c7b299;;
}

.projects-list__item:hover .projects-list__item-loop {
    display: block;
}

.projects-list__item-loop:hover {
    fill: #c7b299;;
}
