@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Raleway-Bold.woff) format("woff"), url(../fonts/Raleway-Bold.woff2) format("woff2"), url(../fonts/Raleway-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Raleway-Bold.woff) format("woff"), url(../fonts/Raleway-Bold.woff2) format("woff2"), url(../fonts/Raleway-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Raleway-SemiBold.ttf) format("truetype"), url(../fonts/Raleway-SemiBold.woff) format("woff"), url(../fonts/Raleway-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Raleway-Regular.ttf) format("truetype"), url(../fonts/Raleway-Regular.woff) format("woff"), url(../fonts/Raleway-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Raleway-Regular.ttf) format("truetype"), url(../fonts/Raleway-Regular.woff) format("woff"), url(../fonts/Raleway-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype"), url(../fonts/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Montserrat-Light.ttf) format("truetype"), url(../fonts/Montserrat-Light.woff) format("woff"), url(../fonts/Montserrat-Light.woff2) format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Montserrat-ExtraLight.ttf) format("truetype"), url(../fonts/Montserrat-ExtraLight.woff) format("woff"), url(../fonts/Montserrat-ExtraLight.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1920px;
  min-height: 1024px;
}

.header {
  background-image: url(../img/bg_header.jpg);
  background-repeat: no-repeat;
  background-color: #282421;
  position: relative;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__toggle {
  display: none;
}

.header-menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 40px 234px 0 376px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  height: 56px;
}

.header-menu__logo-img {
  fill: #ffffff;
}

.header-menu__logo:hover {
  color: #998675;
}

.header-menu__logo:hover .header-menu__logo-img {
  fill: #998675;
}

.header-menu__logo:focus {
  color: #998675;
  border: none;
}

.header-menu__logo:focus .header-menu__logo-img {
  fill: #998675;
  border: none;
}

.header-menu__logo:active {
  color: #2a78a5;
}

.header-menu__logo:active .header-menu__logo-img {
  fill: #2a78a5;
}

.header-menu__logo-img:hover {
  fill: #998675;
}

.header-menu__logo-img:active {
  fill: #2a78a5;
}

.header-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 62px 0 304px 0;
}

.header-menu__links-item {
  list-style: none;
  margin: 0 30px 0 0;
}

.header-menu__links-item:nth-child(8) {
  margin: 0 63px 0 0;
}

.header-menu__links-item__link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.header-menu__links-item__link:hover {
  color: #c7b299;
}

.header-menu__links-item__link:focus {
  color: #c7b299;
}

.header-menu__links-item__link:active {
  color: #2a78a5;
}

.header-menu__cart {
  margin: 55px 28px 0 0;
}

.header-menu__cart-icon {
  fill: #ffffff;
}

.header-menu__cart-icon:hover {
  fill: #c7b299;
}

.header-menu__cart-icon:focus {
  fill: #c7b299;
}

.header-menu__cart-icon:active {
  fill: #2a78a5;
}

.header-menu__search {
  margin: 55px 0 0 0;
}

.header-menu__search-icon {
  fill: #ffffff;
}

.header-menu__search-icon:hover {
  fill: #c7b299;
}

.header-menu__search-icon:focus {
  fill: #c7b299;
}

.header-menu__search-icon:active {
  fill: #2a78a5;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 666px;
}

.header-text {
  font-family: 'Raleway';
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 14px 0;
}

.header-title {
  font-family: 'Raleway';
  padding: 0;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
  margin: 0 0 19px 0;
}

.header-title-text {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin: 0 0 52px 0;
}

.header-button {
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 44px;
  background-color: #998675;
  margin: 0 201px 300px 201px;
  border-radius: 3px;
}

.header-button:hover {
  background-color: #ffffff;
  color: #998675;
}

.header-button:active {
  background-color: #2a78a5;
  color: #ffffff;
}

.header-left-arrow {
  display: block;
}

.header-left-arrow:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 485px;
  left: 1726px;
}

.header-left-arrow:hover:after {
  border-top: 2px solid orange;
  border-right: 2px solid orange;
}

.header-right-arrow {
  display: block;
}

.header-right-arrow:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  position: absolute;
  top: 485px;
  left: 180px;
}

.header-right-arrow:hover:after {
  border-top: 2px solid orange;
  border-right: 2px solid orange;
}

.header-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type=radio] {
  margin: 0 10px 0 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1920px;
  padding: 80px 376px 80px 378px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-wrap {
  margin: 0 34px 0 0;
  list-style: none;
}

.services-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  text-align: center;
}

.services-svg {
  fill: #555555;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 29px 0;
}

.services-link__name {
  font-family: 'Raleway';
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0 0 19px 0;
}

.services-link__text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 0 30px 0;
}

.services-link:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #f1eee9;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.services-link:hover .services-svg {
  fill: #deb887;
}

.services-link:hover .services-link__name {
  color: #deb887;
}

.services-link:hover:after {
  background-color: #deb887;
}

.ideas {
  width: 1920px;
  background-color: #fbfaf8;
  text-align: center;
  padding: 83px 0 0 0;
  position: relative;
}

.ideas-title {
  font-family: 'Raleway';
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0 0 24px 0;
}

.ideas-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 580px 40px 580px;
}

.ideas-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ideas-img__left {
  position: absolute;
  top: 321px;
  left: 343px;
  z-index: 0;
}

.ideas-img__center {
  margin: 0 auto;
  z-index: 1;
}

.ideas-img__right {
  z-index: 0;
  position: absolute;
  top: 321px;
  left: 806px;
}

.ideas-img__left:hover {
  z-index: 2;
}

.ideas-img__right:hover {
  z-index: 2;
}

.purchase {
  width: 1920px;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 347px 49px 376px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.purchase-wrap {
  margin: 0 470px 0 0;
}

.purchase-title {
  font-family: 'Raleway';
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 8px 0;
}

.purchase-title__waxom {
  color: #c7b299;
}

.purchase-text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}

.purchase-button {
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #998675;
  border-radius: 3px;
  padding: 19px 29px 20px 28px;
}

.projects {
  width: 1920px;
  text-align: center;
  padding: 80px 374px 80px 346px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects-title {
  font-family: 'Raleway';
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0 0 24px 0;
}

.projects-text {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 0 40px 0;
}

.projects-wrap {
  margin: 0 0 40px 0;
}

.projects-button {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px 27px 9px 25px;
  margin: 0 10px 0 0;
}

.projects-button:nth-child(2) {
  padding: 10px 19px 9px 18px;
}

.projects-button:nth-child(3) {
  padding: 10px 21px 9px 21px;
}

.projects-button:nth-child(4) {
  padding: 10px 24px 9px 24px;
}

.projects-button:nth-child(5) {
  padding: 10px 23px 9px 24px;
}

.projects-button:hover {
  background-color: #998675;
  color: #ffffff;
}

.projects-button:active {
  background-color: #998675;
  color: #ffffff;
}

.projects-button:focus {
  background-color: #998675;
  color: #ffffff;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-list__item {
  list-style: none;
  width: 370px;
  margin: 0 30px 30px 0;
  background-color: #362f2d;
  padding: 0;
}

.projects-list__item-wrap {
  padding: 30px 0 27px 30px;
  text-align: left;
  position: relative;
  background-color: #fbfaf8;
}

.projects-list__item-wrap:before {
  content: "";
  display: block;
  border: 17px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -27px;
  left: 21px;
}

.projects-list__item-title {
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  margin: 0 0 14px 0;
}

.projects-list__item-text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}

.projects-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-list__item-link {
  position: absolute;
  top: 106px;
  left: 144px;
  z-index: 2;
  fill: #ffffff;
  display: none;
}

.projects-list__item-loop {
  position: absolute;
  top: 106px;
  left: 198px;
  z-index: 2;
  fill: #ffffff;
  display: none;
}

.projects-list__item:hover .projects-list__item-img {
  opacity: 0.6;
}

.projects-list__item:hover .projects-list__item-wrap {
  background-color: #362f2d;
}

.projects-list__item:hover .projects-list__item-title {
  content: "";
  color: #ffffff;
}

.projects-list__item-text {
  color: #c7b299;
}

.projects-list__item:hover .projects-list__item-wrap:before {
  content: "";
  display: block;
  border: 17px solid transparent;
  border-bottom: 10px solid #362f2d;
  position: absolute;
  top: -27px;
  left: 21px;
}

.projects-list__item:hover .projects-list__item-link {
  display: block;
}

.projects-list__item-link:hover {
  fill: #c7b299;
}

.projects-list__item:hover .projects-list__item-loop {
  display: block;
}

.projects-list__item-loop:hover {
  fill: #c7b299;
}

.projects-list {
  margin-bottom: 10px;
}

.projects-list__button {
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #998675;
  border-radius: 3px;
  padding: 19px 45px 20px 44px;
  border: none;
}

.projects-list__button:hover {
  background-color: #362f2d;
}

.projects-list__button:active {
  background-color: #2a78a5;
}

.video {
  width: 1920px;
  text-align: center;
  position: relative;
}

.video-title {
  font-family: 'Raleway';
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  position: absolute;
  top: 347px;
  left: 776px;
  z-index: 2;
}

.video-text {
  max-width: 552px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  position: absolute;
  top: 399px;
  left: 663px;
}

.video-button {
  fill: #ffffff;
  position: absolute;
  top: 225px;
  left: 922px;
  z-index: 2;
}

.video-button:hover {
  fill: #998675;
}

.video-lenght {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
  position: absolute;
  top: 479px;
  left: 936px;
}

.mobile {
  width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 79px 0 0 423px;
}

.mobile-img {
  margin: 0 30px 0 0;
}

.mobile-title {
  font-family: 'Raleway';
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 116px 0 40px 0;
}

.mobile-text {
  max-width: 660px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 0 45px 0;
}

.mobile-list {
  margin: 0 0 0 85px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
  list-style: none;
}

.mobile-list__item {
  position: relative;
}

.mobile-list__item::before {
  content: '';
  background-image: url(../img/list_arrow.jpg);
  top: 4px;
  left: -44px;
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

.mobile-list__item:hover::before {
  content: '';
  background-image: url(../img/list_arrow.jpg);
  top: 4px;
  left: -85px;
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

.merits {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 69px 0 60px 496px;
  width: 1920px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.merits-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.merits-list__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 73px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.merits-list__item:nth-child(3) .merits-list__item-text {
  margin: 0 0 49px 0;
}

.merits-list__item:nth-child(4) .merits-list__item-text {
  margin: 0 0 49px 0;
}

.merits-list__item:nth-child(5) .merits-list__item-text {
  margin: 0 0 49px 0;
}

.merits-list__item-img {
  margin: 0 0 30px 0;
}

.merits-list__item-num {
  font-family: 'Montserrat';
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  margin: 0 0 21px 0;
}

.merits-list__item-text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
  margin: 0 0 30px 0;
}

.merits-list__item::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.posts {
  width: 1920px;
  padding: 82px 0 80px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.posts-title {
  font-family: 'Raleway';
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0 0 30px 0;
}

.posts-text {
  display: inline-block;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 757px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 0 40px 0;
}

.posts-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 40px 0;
}

.posts-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 370px;
  border: 1px solid #f8f8f8;
  margin: 0 30px 0 0;
}

.posts-list__item-img {
  margin: 0 30px 0 0;
}

.posts-list__item-date {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.posts-list__item-num {
  padding: 9px 0 0 0px;
  width: 50px;
  height: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
}

.posts-list__item-num__text {
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
}

.posts-list__item-month {
  padding: 5px 0 0 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 25px;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
}

.posts-list__item-month-text {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.posts-list__item-wrap {
  padding: 30px 44px 33px 29px;
  text-align: left;
  max-width: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.posts-list__item-title {
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  margin: 0 0 19px 0;
}

.posts-list__item-text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 0 27px 0;
}

.posts-list__item-link {
  position: relative;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
}

.posts-list__item-link:after {
  content: "";
  display: block;
  border: 4px solid transparent;
  border-left: 6px solid #c7b299;
  position: absolute;
  top: 5px;
  left: 84px;
}

.posts-list__item:hover {
  background-color: #362f2d;
}

.posts-list__item:hover .posts-list__item-title {
  color: #c7b299;
}

.posts-list__item:hover .posts-list__item-text {
  color: #ffffff;
}

.posts-list__item:hover .posts-list__item-num {
  background-color: #c7b299;
}

.posts-list__item:hover .posts-list__item-month {
  background-color: #a48d72;
}

.posts-buttons__left {
  margin: 0 8px 0 0;
  border: none;
  background-color: #ffffff;
}

.posts-buttons__right {
  border: none;
  background-color: #ffffff;
}

.partners {
  padding: 0 404px 0 406px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 489px;
  width: 1920px;
  background-color: #555555;
  background-image: url(/img/partners_backg.jpg);
}

.partners-link__img {
  margin: 0 90px 0 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.partners-link__img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.footer {
  padding: 80px 374px 81px 376px;
  width: 1920px;
  background-color: #191919;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 42px 0 0;
}

.footer-logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  height: 56px;
  margin: 0 0 29px 0;
}

.footer-logo__link-img {
  fill: #ffffff;
}

.footer-logo__link:hover {
  color: #998675;
}

.footer-logo__link:hover .footer-logo__link-img {
  fill: #998675;
}

.footer-logo__link:active {
  color: #2a78a5;
}

.footer-logo__link:active .footer-logo__link-img {
  fill: #2a78a5;
}

.footer-logo__link-img:hover {
  fill: #998675;
}

.footer-logo__link-img:active {
  fill: #2a78a5;
}

.footer-logo__text {
  display: inline-block;
  max-width: 257px;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
  margin: 0 0 33px 0;
}

.footer-logo__more {
  position: relative;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #d1d1d1;
  text-decoration: none;
}

.footer-logo__more:after {
  content: "";
  display: block;
  border: 4px solid transparent;
  border-left: 6px solid #d1d1d1;
  position: absolute;
  top: 7px;
  left: 86px;
}

.footer-posts {
  max-width: 270px;
  margin: 24px 30px 0 0;
}

.footer-posts__title {
  font-family: 'Raleway';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 33px 0;
}

.footer-posts__list {
  list-style: none;
}

.footer-post__list-item__data {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  margin: 0 0 10px 0;
}

.footer-post__list-item__text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  margin: 0 0 21px 0;
}

.footer-post__list-item:nth-child(1)::after,
.footer-post__list-item:nth-child(2)::after {
  content: "";
  display: block;
  width: 270px;
  height: 2px;
  background-color: #252525;
  margin: 0 0 21px 0;
}

.footer-post__list-item:hover .footer-post__list-item__data {
  color: #ffffff;
}

.footer-post__list-item:hover .footer-post__list-item__text {
  color: #c7b299;
}

.footer-twitter {
  max-width: 270px;
  margin: 24px 30px 0 0;
}

.footer-twitter__title {
  font-family: 'Raleway';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 30px 0;
}

.footer-twitter__list {
  list-style: none;
}

.footer-twitter__list-item__data {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  margin: 0 0 21px 0;
}

.footer-twitter__list-item__text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  margin: 0 0 11px 0;
}

.footer-twitter__list-item__text-blue {
  color: #00bff3;
}

.footer-twitter__list-item__text-grey {
  color: #959595;
}

.footer-twitter__list-item:nth-child(1)::after,
.footer-twitter__list-item:nth-child(2)::after {
  content: "";
  display: block;
  width: 270px;
  height: 2px;
  background-color: #252525;
  margin: 0 0 21px 0;
}

.footer-twitter__list-item:hover .footer-twitter__list-item__data {
  color: #ffffff;
}

.footer-twitter__list-item:hover .footer-twitter__list-item__text {
  color: #c7b299;
}

.widget {
  max-width: 285px;
  margin: 24px 0 0 0;
}

.widget-title {
  font-family: 'Raleway';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 26px 0;
}

.widget-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget-img {
  margin: 0 10px 10px 0;
}

.footer-copy {
  padding: 45px 0 52px 376px;
  min-height: 111px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1920px;
  background-color: #111111;
}

.footer-copy__nav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copy__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 449px 0 0;
}

.footer-copy__nav-list__item {
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  margin: 0 24px 0 0;
  color: #555555;
}

.footer-copy__nav-list__item-waxom {
  color: #959595;
}

.footer-copy__nav-list__item-vert {
  color: #252525;
}

.footer-copy__nav-list__item-link {
  text-decoration: none;
  position: relative;
}

.footer-copy__nav-list__item-link::before {
  content: "";
  display: block;
  background-color: #252525;
  width: 1px;
  height: 13px;
  position: absolute;
  top: 2px;
  left: -13px;
}

.privacy {
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.faq {
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
}

.support {
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer-copy__nav-list-design {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copy__nav-list-design__item {
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  position: relative;
}

.footer-copy__nav-list-design__item-text {
  color: #959595;
}

.footer-copy__nav-list-design__item:nth-child(1) {
  margin: 0 24px 0 0;
}

.footer-copy__nav-list-design__item:nth-child(2)::before {
  content: "";
  display: block;
  background-color: #252525;
  width: 1px;
  height: 13px;
  position: absolute;
  top: 2px;
  left: -13px;
}

@media (max-width: 480px) {
  .container {
    width: 480px;
    min-height: 130px;
  }
  .header {
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  .header-menu__logo {
    margin: 30px 10px 0 30px;
  }
  .header-menu__links {
    display: none;
  }
  .header-menu__cart {
    display: none;
  }
  .header-menu__search {
    display: none;
  }
  .header-wrap {
    display: none;
  }
  .header-radio {
    display: none;
  }
  .header-left-arrow {
    display: none;
  }
  .header-right-arrow {
    display: none;
  }
  .header-menu__toggle {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    top: 3px;
    left: -55px;
  }
  .header-menu__toggle-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide input */
    z-index: 1;
    /* top of the menu */
  }
  .header-menu__toggle-span {
    width: 55px;
    height: 8px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 4px;
    -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
    transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  }
  .span1 {
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
  }
  .span3 {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  .header-menu__toggle-checkbox:checked ~ .span1 {
    background-color: #ffffff;
    -webkit-transform: rotate(45deg) translate(8px);
            transform: rotate(45deg) translate(8px);
  }
  .header-menu__toggle-checkbox:checked ~ .span2 {
    background-color: #ffffff;
    -webkit-transform: rotate(495deg) translate(4px);
            transform: rotate(495deg) translate(4px);
  }
  .header-menu__toggle-checkbox:checked ~ .span3 {
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
  }
  .services {
    margin: 0 auto;
    padding: 40px 0 40px 0;
    width: 480px;
  }
  .services-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-wrap {
    margin: 0 20px 30px 0;
  }
  .services-link {
    max-width: 220px;
  }
  .services-wrap:nth-child(2) {
    padding: 8px 0 0 0;
    margin: 0 0 30px 0;
  }
  .services-wrap:nth-child(4) {
    padding: 7px 0 0 0;
    margin: 0 0 30px 0;
  }
  .ideas {
    display: none;
  }
  .purchase {
    width: 480px;
    padding: 20px 20px;
    position: relative;
  }
  .purchase-button {
    max-height: 100px;
    position: absolute;
    top: 84px;
    left: 267px;
  }
  .projects {
    width: 480px;
    padding: 30px 30px;
  }
  .projects-button {
    margin: 0 10px 10px 0;
  }
  .projects-list {
    margin: 0 0 10px 0;
  }
  .projects-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects-list__item:hover .projects-list__item-wrap:before {
    content: "";
    display: block;
    border: 17px solid transparent;
    border-bottom: 10px solid #362f2d;
    position: absolute;
    top: -25px;
    left: 21px;
  }
  .projects-list__item-wrap:before {
    content: "";
    display: block;
    border: 17px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -26px;
    left: 21px;
  }
  .projects-list__item {
    margin: 0 0 30px 0;
  }
  .video {
    width: 480px;
  }
  .video-video {
    width: 480px;
    height: 100%;
  }
  .video-title {
    top: 33px;
    left: 52px;
  }
  .video-text {
    top: 88px;
    left: -3px;
  }
  .video-lenght {
    top: 195px;
    left: 218px;
  }
  .mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 480px;
    padding: 30px 10px 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mobile-img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0 auto;
  }
  .mobile-title {
    text-align: center;
  }
  .mobile-text {
    text-align: center;
  }
  .mobile-list {
    margin: 0 0 30px 55px;
  }
  .merits {
    width: 100%;
    padding: 20px 20px;
  }
  .merits-list::-webkit-scrollbar {
    display: none;
  }
  .merits-list {
    width: 100%;
    overflow-x: auto;
  }
  .merits-list__item {
    margin: 0 53px 0 0;
    min-width: 117px;
  }
  .posts {
    width: 480px;
  }
  .posts-text {
    max-width: 440px;
  }
  .posts-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .posts-list__item {
    margin: 0 0 20px 0;
  }
  .posts-list__item-img {
    margin: 0;
  }
  .partners {
    width: 480px;
    padding: 20px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners-link__img {
    width: 150px;
    margin: 0 20px 20px 0;
  }
  .partners-link__img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .footer {
    width: 480px;
    padding: 30px 0 20px 30px;
  }
  .footer-posts {
    max-width: 170px;
    margin: 24px 30px 0 0;
  }
  .footer-post__list-item:nth-child(1)::after, .footer-post__list-item:nth-child(2)::after {
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    background-color: #252525;
    margin: 0 0 21px 0;
  }
  .footer-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-logo {
    max-width: 200px;
    margin: 0 32px 0 0;
  }
  .footer-twitter {
    max-width: 200px;
  }
  .footer-twitter__list-item:nth-child(1)::after, .footer-twitter__list-item:nth-child(2)::after {
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    background-color: #252525;
    margin: 0 0 21px 0;
  }
  .widget {
    width: 220px;
  }
  .widget-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-copy {
    width: 480px;
    padding: 30px 20px 30px 20px;
  }
  .footer-copy__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-copy__nav-list {
    margin: 0 0 30px 0;
  }
}
/*# sourceMappingURL=style.css.map */
